.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	margin-top: 0;
	/*font: 14px Helvetica, Arial, Sans-Serif;*/
}
.breadcrumb li { 
	float: left; 
}
.breadcrumb li a {
	color: white;
	text-decoration: none;
	/*
	padding: 10px 0 10px 75px; 
	*/
	padding-top: 10px;
	padding-bottom: 10px;
	/* this is set elsewhere because it needs to be overridden below -- padding-left: 75px; */
	padding-right: 0;
	
	background: brown;                   /* fallback color */
	background: hsla(213,85%,15%,1); 
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 100px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 100px solid transparent;
	border-left: 60px solid hsla(213,85%,15%,1);
	position: absolute;
	top: 50%;
	margin-top: -100px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 100px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 100px solid transparent;
	border-left: 60px solid white;
	position: absolute;
	top: 50%;
	margin-top: -100px; 
	margin-left: 2px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumb li:first-child a {
	padding-left: 10px;
	/* disable link 
	pointer-events: none;
   	cursor: default;
   	text-decoration: none; */
}

.breadcrumb li:nth-child(2) a       { background:        hsla(213,85%,20%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(213,85%,20%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(213,85%,25%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(213,85%,25%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(213,85%,30%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(213,85%,30%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(213,85%,35%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(213,85%,35%,1); }
.breadcrumb li:nth-child(6) a       { background:        hsla(213,85%,40%,1); }
.breadcrumb li:nth-child(6) a:after { border-left-color: hsla(213,85%,40%,1); }
.breadcrumb li:last-child a {
	padding-right: 10px;
}

.breadcrumb li.breadcrumb-current a { 				background:        hsla(213,85%,15%,1); }
.breadcrumb li.breadcrumb-current a:after { 		border-left-color: hsla(213,85%,15%,1); }

/*
.breadcrumb li:last-child a {
	background: white !important;
	color: black;
	pointer-events: none;
	cursor: default;
}
*/

.breadcrumb li:last-child a:after { border: 0; }
.breadcrumb li a:hover { background: hsla(213,85%,15%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(213,85%,15%,1) !important; }


