.mainColOuter {
    position:relative;
}

.leftNavOuter {
    vertical-align: top;
    display:inline-block;
    /*position: absolute;
    left: 0;
    top: 0;*/
    width: 240px;
    /*height: 100%;*/
    
}

.leftNavOuter ul {
    /*height: 180px;*/
    display:block;
}

.leftNavOuter img {
    /*
    position:absolute;
    bottom:0;
    padding-bottom: 1em;
    */
   vertical-align: bottom;
   padding-top:100px;
}

#mainCol {
    /*margin-left: 240px;*/
}

#mainCol h4 {
    margin-top: 2em;
}
