#homeContent {
    padding-top: 32px;
    background-color: white;
    width: 100%;
}

#homeContent h1 {
    font-size: 150%;
}

#equationBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 700px;
    font-size: 120%;
    background-color: #444;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 64px;
}

.centeredBox img {
    width:900px;
    height:300px;
}

.centeredBox h3 {
    text-align: center;
    padding-top:16px;
}

.centeredBox a {
    color:black;
    text-decoration:underline;
}

.centeredBox {
    /*position:absolute;
    width:100%;*/
   position:relative;
   left:-40px;
}

#equationBox p {
    text-align: center;   
}

a.darkBackground:link, a.darkBackground:visited {
    color: #DDD;
    text-decoration: none;
}

a.darkBackground:hover {
    color: #FFF;
    text-decoration: none;
}

#lead {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: 40px;
    text-align: center;
    position:relative;
    top:180px;
    z-index: 20;
    font-size:20px;
}

#lead span {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.5);
    padding:8px 16px;
}

#lead a:link, #lead a:visited {
    text-decoration: underline;
    color:black;
}

/*
#ctaBox {
    margin-top:24px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width:thin;
    border-bottom-width:thin;
    margin-left: auto;
    margin-right: auto;   
    width: 900px;
    text-align: center;    
}

#ctaBox a:link, a:visited {	
    color: black;
    text-decoration: none;
}
*/

#clients {
	border-top-style: solid;
	border-top-width:thin;
    margin-top:40px;
    padding-top:16px;
    margin-left: auto;
    margin-right: auto;   
    width: 900px;
    text-align: center;    
}

#clients ul {
    list-style: none;
        
}

#clients ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}