#equationBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 700px;
    font-size: 120%;
    background-color: #444;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 64px;
}

.centeredBox img {
    width:900px;
    height:300px;
}

.centeredBox h3 {
    text-align: center;
    padding-top:16px;
}

.centeredBox a {
    color:black;
    text-decoration:underline;
}

.centeredBox {
    /*position:absolute;
    width:100%;*/
   position:relative;
   left:-40px;
}

#equationBox p {
    text-align: center;   
}

a.darkBackground:link, a.darkBackground:visited {
    color: #DDD;
    text-decoration: none;
}

a.darkBackground:hover {
    color: #FFF;
    text-decoration: none;
}

#lead {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-top: 40px;
    text-align: center;
    position:relative;
    top:180px;
    z-index: 20;
    font-size:20px;
}

#lead span {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.5);
    padding:8px 16px;
}

#lead a:link, #lead a:visited {
    text-decoration: underline;
    color:black;
}

#clients {
	border-top-style: solid;
	border-top-width:thin;
    margin-top:40px;
    padding-top:16px;
    margin-left: auto;
    margin-right: auto;   
    width: 900px;
    text-align: center;    
}

#clients ul {
    list-style: none;
        
}

#clients ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}

/* slide show */

body {
    overflow: hidden;
}

.slideOuter {
    height: 478px;
    padding-top: 53px;    
}

.slideBg {
    width:1360px;
    margin-left: auto;
    margin-right:auto;
    position:relative;
    top: -454px;
    left: -200px;
    z-index: 0;    
}

.bgImageBox {
    width:1360px;
    height:510px;
    margin-left: auto;
    margin-right:auto;
    
    /*
    z-index: -99;
    
    position:relative;
    top:-500px;
    */
}

.bgImageBox img {
    border-top-style: solid;
    border-top-width: thick;    
    border-bottom-style: solid;
    border-bottom-width: thick;
}

.slideTextOuter {
    /*width:960px;
    margin-left: auto;
    margin-right:auto;
    */    
}

.slideText {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.5);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    width:880px;
    margin-left: auto;
    margin-right:auto;
}

.slideText h1 {
    font-size: 44px;
    text-transform:uppercase;    
    display:block;
    color: white;
}

.slideText p {
    font-size:30px;
    display:block;
    color: white;
    z-index: 990;
}

.slideText a:link, #lead a:visited {
    text-decoration: underline;
    color:black;
}

