/* slide show */

body {
    overflow: hidden;
}

.slideOuter {
    /*
    height: 458px;
    padding-top: 53px;
    */    
}

.slideBg {
    width:1360px;
    margin-left: auto;
    margin-right:auto;
    position:relative;
    left: -200px;
        
}

.bgImageBox {
    width:1360px;
    height:510px;
    margin-left: auto;
    margin-right:auto;
}

.bgImageBox img {
}

.slideTextOuter {
   margin-left:20px;    
}

.slideText {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;    
    width:880px;
    margin-left: auto;
    margin-right:auto;
}

.slideText h1 {
    font-size: 44px;
    text-transform:uppercase;    
    display:block;
    color: white;
}

.slideText p {
    font-size:30px;
    display:block;
    color: white;
}

.slideText a:link, #lead a:visited {
    text-decoration: underline;
    color:black;
}

.belowSliderBar {
    width:960px;
    margin-left: auto;
    margin-right:auto;    
}

#nav {
    width:22px;
    margin-left: auto;
    margin-right:auto;
    /*padding-right:40px;*/
}

.navItem {
    width:11px;
    height:11px;
    background-image: url('../img/slidernav_off.png');
    background-repeat: no-repeat;    
    display:inline-block;
}

#nav a {
}

#nav .activeSlide {
    background-image: url('../img/slidernav_on.png');
}


