/* slide show */

body {
    overflow: hidden;
}

#header {
    border-bottom: 0px solid #BDBDBD;
}

.slideOuter {
    /*
    height: 458px;
    padding-top: 53px;
    */    
}

.slideBg {
    width:1360px;
    margin-left: auto;
    margin-right:auto;
    position:relative;
    left: -200px;
        
}

.bgImageBox {
    width:1360px;
    height:510px;
    margin-left: auto;
    margin-right:auto;
}

.bgImageBox img {
    /*
    border-top: 2px solid;
    border-bottom: 2px solid;
    */
}

.belowSliderBar {
    width:960px;
    margin-left: auto;
    margin-right:auto;    
}

#nav {
    width:22px;
    margin-left: auto;
    margin-right:auto;
    /*padding-right:40px;*/
}

.navItem {
    width:11px;
    height:11px;
    background-image: url('../img/slidernav_off.png');
    background-repeat: no-repeat;    
    display:inline-block;
}

#nav a {
}

#nav .activeSlide {
    background-image: url('../img/slidernav_on.png');
}


