#homeContent {
    padding-top: 32px;
    background-color: white;
    width: 100%;
}

#homeContent h1 {
    font-size: 150%;
}

#equationBox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 700px;
    font-size: 120%;
    background-color: #444;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 64px;
}

.centeredBox a img {
   width:722px;
}

.centeredBox {
    width:722px;
    height:100%;
}

#equationBox p {
    text-align: center;   
}

a.darkBackground:link, a.darkBackground:visited {
    color: #DDD;
    text-decoration: none;
}

a.darkBackground:hover {
    color: #FFF;
    text-decoration: none;
}

#lead {
    margin-left: auto;
    margin-right: auto;   
    width: 900px;
    margin-top: 0px;
    text-align: center;
}

#lead a:link, #lead a:visited {
    text-decoration: underline;
}

#ctaBox {
    margin-top:24px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width:thin;
    border-bottom-width:thin;
    margin-left: auto;
    margin-right: auto;   
    width: 900px;
    text-align: center;    
}

#ctaBox a:link, a:visited {	
    color: black;
    text-decoration: none;
}

#clients {
	border-top-style: solid;
	border-top-width:thin;
    margin-top:48px;
    padding-top:24px;
    margin-left: auto;
    margin-right: auto;   
    width: 900px;
    text-align: center;    
}

#clients ul {
    list-style: none;
        
}

#clients ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 8px;
}