/* TODO: Center pages like this site: http://www.coupa.com/purchasing-procurement-blog/usability-in-enterprise-applications-part-i  */

body {
    margin: 0 0;
    /*font-family: arial,sans-serif;*/
    font-family: "Helvetica";
    font-weight: 400;
    width:100%;
    font-size: 100%;
    /*letter-spacing: -1px;*/
    /* color:#555556; */
   color: black;
   
}

a.current:link, a.current:visited {
    color: #000;
    text-decoration: none;
}

a:link, a:visited {
    color: #666667;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

#outerContent {
    
}

#content {
    
    /* should equal height of fixed position header */
    margin-top:83px;
    /*padding-top: 83px;*/
    
    padding-top: 16px;
    
    margin-left: auto;
    margin-right: auto;
    width: 960px;
        
    /*padding-bottom: 32px;*/
    background-color: white;
}

#content h1 {
	-webkit-margin-before: 4px;
    font-size: 130%;
}

#content h2 {
    font-size: 110%;
}

#content h3 {
    font-size: 100%;
}

#content a.current:link, a.current:visited {
    text-decoration:underline;
}

#content a:link, #content a:visited {
    text-decoration: underline;
}

#content a:hover {
    text-decoration: underline;
}

#crumbs {
    margin-left:40px;
    margin-right: 40px;
}

#crumbs p {
    margin-top: 0px;
    margin-bottom: 0px;    
    display:inline;
}

#crumbs h1 {
	display:inline;
}

.right-aligned {
	position:relative;
	left:498px;
}

#mainCol {
    margin-left:40px;
    margin-right: 40px;
    display:inline-block;
    width: 57%;
}

.mainLeftCol {
    display:inline-block;
    width: 67%;
}

#mainRightCol {
    width: 24%;
    margin-left:40px;
    margin-right: 40px;
    display:inline-block;
    vertical-align: top;
    /*background: #F8E9FC;*/
   	background-color: #EAD6A8;
    padding: 8px;
}

.threeColBox {
	margin-left:40px;
	height: 21em;
	margin-bottom:40px;
}

.threeColBox div {
	vertical-align: top;
    
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:10px;
    display:inline-block;
    width: 25%;
    margin-left:10px;
    margin-right: 0px;
	height: 100%;
}

.threeColBox li {
	padding-bottom:4px;
}

div.leftCol {
	margin-left:0px;
    background-color:hsla(213,85%,77%,1);
}

div.centerCol {
    background-color:hsla(213,85%,85%,1);
}

div.rightCol {
    background-color:hsla(213,85%,93%,1);
}

.wideBox {
	width: 860px;
	height: 240px;
}

.blurb {
	margin-left: 40px;	
	margin-right: 40px;
}

#chartBackgroundBox {
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    /*
	background-color: hsla(213,85%,90%,1);
	*/
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-right: 40px;
	/*margin-left: 40px;*/
}

#rtb {
    margin-left:40px;
    width: 900px;
    margin-top: 18px;
    /*position: relative;*/
    text-align: left; 
}

#rtb div {
    width: 32%;
    display: inline-block;
    text-align: left;    
}

#rtb h2 {
	margin-bottom: 0;
}

td {
	vertical-align: top;
	padding-right: 4px;
	padding-bottom: 4px;
}

.quote-indent {
	padding-left: 8px;
}

.clearfix {
    clear: both;
}

.float-right {
    float: right;
    margin-left: 24px;
}

.sourcing {
	font-style:italics;
	font-size:11px; 
}

.pop {
	background-color:yellow;
}

.centeredBox {
	margin-left:auto;
	margin-right:auto;
	width:823px;
}

