body {
    margin: 0 0;
    /*font-family: arial,sans-serif;*/
    font-family: "Helvetica";
    font-weight: 600;
    width: 100%;
    background-image: url('../img/berg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 120%;
    letter-spacing: -1px;
    color:#666667;

}

#content {
    margin: 0em;
}

#leftNav {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    font-size: 100%;
}

#header {
    padding-top: 36px;
    padding-bottom: 100px;
    color: #888888;
    width: 100%;
    /* background-color: #FFDF73; */
   font-size: small;
}


#header #logoBox {
    display: inline-block;
    padding-left: 40px;
    width: 47%;
}

#header ul {
    display: inline-block;
    padding: 0px;
    /*float: right;*/
    /*vertical-align: bottom;*/
    margin: 0px;
    width: 48%;
    -webkit-margin-before:0px;
    -webkit-margin-after:0px;
    -webkit-padding-start:0px;
}

#header ul li {
    list-style: none inside;
    display:inline-block;
    width:24%;
    text-align:right;
    /*padding-left: 3em;*/
}

#logoBox {
    width:45%;
}

#logoBox img {
    /* width:300px; */
    margin: 0;
    /* position: relative;
     top:-2em; */
}

.copyBox {
    display: inline-block;
    width: 50%;
}

.homeCopyBox {
    /*padding: 36px;*/
    display: inline-block;
    /*width: 78%;*/
    text-align: justify;
    padding-right: 10%;
    padding-left: 10%;
}

a.current:link, a.current:visited {
    color: #666667;
    text-decoration: none;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #666667;
    text-decoration: none;
}

#leftNav li {
    list-style: none inside;
    padding-bottom: 20px;
    letter-spacing: -1.7px;
}

#leftNav .small {
    font-size: 60%;
}

h1 {
    /* color: #3A0574; */
        letter-spacing: -1.99px;
}

#title {
    font-size: 2em;
}


#contentHeadingBox {
    text-align: center;
}

#contentBodyBox {
    width: 100%;
}

.copyBox p {
    text-align: justify;
}

form label {
    display: inline-block;
    margin-right: 5px;
    padding-top: 4px;
    /*text-align: right;*/
    width: 60px;
    vertical-align: top;
    font-size: 80%;
}

form div {

}
