body {
    margin: 0 0;
    /*font-family: arial,sans-serif;*/
    font-family: "Helvetica";
    font-weight: 400;
    width:100%;
    font-size: 100%;
    /*letter-spacing: -1px;*/
    /* color:#555556; */
   color: black;
   /*background-color: #ddd;*/
   
}

a.current:link, a.current:visited {
    color: #000;
    text-decoration: none;
}

a:link, a:visited {
    color: #666667;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

#outerContent {
    background-color: #F9F9F9;
    width: 960px;
    /*margin-left: auto;
    margin-right: auto;*/
   
}

#content {
    padding-top: 16px;
    padding-bottom: 32px;
    background-color: white;
    width: 100%;
}

#content h1 {
	-webkit-margin-before: 4px;
    font-size: 130%;
}

#content h2 {
    font-size: 110%;
}

#content h3 {
    font-size: 100%;
}

#content a.current:link, a.current:visited {
    text-decoration:underline;
}

#content a:link, #content a:visited {
    text-decoration: underline;
}

#content a:hover {
    text-decoration: underline;
}

#crumbs {
    margin-left:40px;
    margin-right: 40px;
}

#crumbs p {
    margin-top: 0px;
    margin-bottom: 0px;    
}

#crumbs h1 {
	display:inline;
}

#mainCol {
    margin-left:40px;
    margin-right: 40px;
    display:inline-block;
    width: 57%;
}

#mainRightCol {
    width: 24%;
    margin-left:40px;
    margin-right: 40px;
    display:inline-block;
    vertical-align: top;
    /*background: #F8E9FC;*/
   	background-color: #EAD59F;
    padding: 8px;
}

#leftCol {
    margin-left:40px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right:10px;
    display:inline-block;
    width: 25%;
    background-color:#FFD7B3
}

#centerCol {
    margin-left:40px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right:10px;
    display:inline-block;
    width: 25%;
    vertical-align: top;
    background-color:#CAFFD8
}

#rightCol {
    width: 25%;
    margin-left:40px;
    margin-right: 40px;
    padding-left: 10px;
    padding-right:10px;
    display:inline-block;
    vertical-align: top;
    background-color:hsla(213,85%,90%,1);
}

.wideBox {
	width: 860px;
	height: 240px;
}

.blurb {
	margin-left: 40px;	
}

#rtb {
    margin-left: auto;
    margin-right: auto;   
    width: 900px;
    margin-top: 36px;
    /*position: relative;*/
    text-align: center; 
}

#rtb div {
    width: 30%;
    display: inline-block;
    text-align: left;    
}

td {
	vertical-align: top;
	padding-right: 4px;
	padding-bottom: 4px;
}

.quote-indent {
	padding-left: 8px;
}
