ul.tabs {
	margin-left: 40px;	
    list-style:none;
    border-bottom: 1px solid #999;
    margin:0;
    margin-bottom: 16px;
    padding:0;
    width:100%;
    float:left;
}

ul.tabs li {
    margin:0;
    padding:0;
    position:relative;
    float:left;
    overflow:hidden;
    margin-bottom: -1px;
    border: 1px solid #999;
    border-right: 1px solid white;
    padding-top: 6px;                
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
}

ul.tabs li:last-child {
    border-right: 1px solid #999;
}

ul.tabs li.active {
    border-bottom: 1px solid white;
    background-color: #fff;
}

ul.tabs li.title {
    border: 1px solid white;
    padding-left:0;
    border-bottom: 1px solid #999;
    background-color: #fff;
}            

ul.tabs li.active a:link, ul.tabs li a:visited {
   	/* disable link */ 
	pointer-events: none;
   	cursor: default;
   	text-decoration: none; 
    color:black;
}

ul#what-tabs li a:link, ul.tabs li a:visited {
    text-decoration: none;    
}

ul#why-tabs li a:link, ul.tabs li a:visited {
    text-decoration: none;    
}