/** CSS for header and footer **/

#headerOuter {
   /*position:fixed;*/
   width:100%;
   top:0;
   z-index: 9;
}

#header {
   
   border-bottom-style: solid;
   border-bottom-width:thin;
   border-bottom-color: black;
   
  
   background-color: #D8D8D8;
    
   padding-top: 12px;
   padding-bottom: 12px;   
   color: #888888;
    
   font-size: 14px;
   
   margin-left: auto;
   margin-right: auto;
   width: 960px;
   
}

#header h2 {
    margin: 0;
    font-size: 19px;
}

#header p {
    margin: 0;
    font-size: 15px;
}

#logoBox {
    display: inline-block;
    /*padding-left: 40px;*/
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:40px;
}

#logoBox img {
    margin: 0;
}

#header ul {
    float:right;
    padding: 0px;
    padding-top: 16px;
    padding-right:40px;
    -webkit-margin-before:0px;
    -webkit-margin-after:0px;
    -webkit-padding-start:0px;
    font-weight: 500;   
}

#header ul li {
	
    list-style: none inside;
    display:inline-block;
    /*width:24%;*/
    text-align:right;
    padding-left: 40px;
}

#footerOuter {
    margin-top: 20px;
    padding-bottom: 20px;
    /*
    border-top-style: solid;
    border-top-width: thin;
    background-color: #F8F8F8;
    */
    /*position:fixed;*/
    
    width:100%;
    bottom:0;
    z-index: 9;
}


#footer {        
    margin-right: auto;
    margin-left: auto;
    width: 960px;
    color:white;
    background-color: #616161;
}

.footerHeading {
    font-weight:700;
}

#footer a {
    font-size: 14px;
    padding-left:8px;
}

#footer a:link, #footer a:visited {
	text-decoration:none;
	color:white;
}

#footer ul {
    padding:0;
    padding-bottom: 1em;
    -webkit-margin-after:0px;
    -webkit-padding-start:0px;
    list-style-type:none;
    display:inline-block;
}

#footerLinkBox {
    padding-left:40px;
}

.footerRow {
    list-style: none inside;
    display:inline-block;
    margin-right: 20px;
}

#social {
    float:right;
    margin-top:11px;
    padding-right:40px;
}

ul.row {
    list-style:inside
    display:block;
    margin-right: 20px;
}

ul.row li {
    list-style:inside
    display:block;
    margin-right: 20px;
}

#footerLinkBox {
    margin-top:20px;
}

#footerLinkBox td {
    width:20%;
    padding-right: 20px;
}

#footerBottom {
    margin-top:8px;
    margin-bottom:8px;
    background: white;
    width:970px;
    margin-left: auto;
    margin-right:auto;
    font-size: small;
}

