/** CSS for header and footer **/

#headerOuter {
   border-bottom-style: solid;
   border-bottom-width:thin;
   background-color: #F8F8F8;
   position:fixed;
   width:100%;
   top:0;
   z-index: 9;
}

#header {
    padding-top: 12px;
    padding-bottom: 8px;
    color: #888888;
    
   font-size: 14px;
   
   margin-left: auto;
   margin-right: auto;
   width: 960px;
   
}

#header h2 {
    margin: 0;
    font-size: 19px;
}

#header p {
    margin: 0;
    font-size: 15px;
}

#logoBox {
    display: inline-block;
    /*padding-left: 40px;*/
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:40px;
}

#logoBox img {
    margin: 0;
}

#header ul {
    float:right;
    padding: 0px;
    padding-top: 16px;
    padding-right:40px;
    -webkit-margin-before:0px;
    -webkit-margin-after:0px;
    -webkit-padding-start:0px;
    font-weight: 500;   
}

#header ul li {
	
    list-style: none inside;
    display:inline-block;
    /*width:24%;*/
    text-align:right;
    padding-left: 40px;
}

#footerMargin {
    margin-top:72px;
}

#footerOuter {
    border-top-style: solid;
    border-top-width: thin;
    background-color: #F8F8F8;
    position:fixed;
    width:100%;
    bottom:0;
    z-index: 9;
}


#footer {    
    margin-right: auto;
    margin-left: auto;
    width: 960px;
}

#footer a:link, #footer a:visited {
	text-decoration:none;
}

#footer ul {
    padding:0;
    padding-bottom: 1em;
    -webkit-margin-after:0px;
    -webkit-padding-start:0px;
    list-style-type:none;
    display:inline-block;
}

#footerLinkBox {
    padding-left:40px;
}

#footer ul li {
    list-style: none inside;
    display:inline-block;
    margin-right: 20px;
}

#social {
    float:right;
    margin-top:11px;
    padding-right:40px;
}

