<IfModule mod_rewrite.c>

   #RewriteRule ^tech$ http://jupiter.madskvalsvik.com [P,L]   
   #RewriteRule ^tech/(.*)$ http://jupiter.madskvalsvik.com/$1 [P,L]      

   # RewriteRule ^/?page/(.*)$ page.php/$1 [L]
   # works: RewriteRule ^test/(.*)$ /$1.php [L] 
   
   # Allow requests to omit the .php extension
   RewriteEngine on
   RewriteRule ^([A-Za-z0-9_-]+)(/)?$ /$1.php [L]
   
   # RewriteRule ^page/([A-Za-z0-9_-]+)(/)?$ index.php?page=page&uri=$1
   # RewriteRule ^work/([A-Za-z0-9_-]+)(/)?$ index.php?page=work&uri=$1
</IfModule>
