#markdownHelp {
    display:inline-block;
    /*width:300px;*/
   padding-right:10px;
    font-size: 12px;
    vertical-align: top;
}

#answerBox textarea {
    display:inline-block;
}

form label {
    width:64px;
    display:block;
}

form input[type=text] {
    width:500px;
}

.codeSample {
    background-color: #dddddd;
}

#topicTable input[type=text] {
    width: 120px;
}

th {
    font-weight:normal;
}
