#leftCol {
	width: 65%;
	display:inline-block;
}

#rightCol {
	width: 33%;
	display:inline-block;
	vertical-align: top;
}

.mainCol ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	/*
	padding: 0.5em;
	margin: 0.5em; */
}

/*
.mainCol a:link, .mainCol a:visited, .mainCol a:hover {
    text-decoration:none;
}
*/

ul#level1 {
	padding: 0px;
	margin: 0px;
	margin-top: 8px;
}

.answerBox {
    /*background-color: #DDDDDD;*/    
    display: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

li .answerBox p {
    padding-left:13px;
	/*margin-left: 0.9em;*/	
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.answerBox ol {
    -webkit-padding-start: 33px;
}

.answerBox li p {
    padding-left: 0px;
}

form {
    display:inline-block;
}

.toggle {
    cursor: pointer;    
}

.plus {
    width: 9px;
    display:inline-block;
}

.category {
    margin-bottom:8px;
    margin-top:8px;
}

.singleFaq {
    
    /*
    
    padding-left: 12px;
    margin-left: -12px;
    margin-right: -12px;
    overflow-x: auto;
    */
}

.singleFaq .answerBox {
    display:block;
    background-color: #FFFFFF;
    padding: 0px;
    padding-bottom: 16px;
}

.faq a:link, .faq a:visited {
    text-decoration:none;    
}
