ul.tabs {
    margin-top:16px;
}

#tags {
    display:none;
}

#myCanvasContainer {
    position:relative;
    left: -60px;
    width: 960px;
}

#smallCanvasContainer {
    padding-top: 16px;
    position:relative;
    left: -30px;
    width: 210px;
}

label {
    width: 100px;
    display:inline-block;
}

input[type=text], input[type=password] {
    width: 200px;
}

pre {
    color:black;
    overflow-x:scroll;
    margin-bottom: -0.3em;
}

pre code {
    display:block;
    border-top: 1px solid hsla(213,85%,40%,1);
    border-bottom: 1px solid hsla(213,85%,40%,1);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left:13px;    
    background-color: hsla(213,85%,95%,1);
    font-size: 13px;
}

code {    
    font-size: 14px;
}

#mainCol ol li {
    margin-bottom: 0.2em;
}

#mainCol ul li {
    margin-bottom: 0.2em;
}

#mainCol a:link, #mainCol a:visited, #mainCol a:hover {
    text-decoration:underline;
}

#mainCol ul {
    list-style: disc outside none;
    -webkit-padding-start: 40px;
    -webkit-margin-before: 1em;
}


